body{
    padding: 0px;
    margin: 0px;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}

a {
    color: white;
    outline: none;
    text-decoration: none
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header{
    margin: 0 auto;
    height: 75px;
    background-color: black;
    color: white;
}

p{
    margin: 0px;
}

#logo{
    float: left;
    width: 52px;
    height: 58px;
    padding: 10px 0 10px 10px;

}

#ul{
    list-style: none;
    color: white;
    text-decoration: none;
}

li{
    float: left;
    z-index: 2;
    color: white;
    margin-left: 5%;
    margin-top: 30px;
    text-decoration: none;
}

.navbar-item-home {
    color: white;
}

.navbar-item-download {
    color: white;

}

.navbar-item-legal {
    color: purple;

}

.navbar-item-faq {
    color: white;

}

.navbar-item-profile {
    color: white;

}

.navbar-item-login {
    color: white;

}

/* NAV HOVER */

.navbar-item-home:hover {
    color: purple;
}

.navbar-item-download:hover {
    color: purple;
}

.navbar-item-legal:hover {
    color: purple;
}

.navbar-item-faq:hover {
    color: purple;
}

.navbar-item-profile:hover {
    color: purple;
}

.navbar-item-login:hover {
    color: purple;
}
